@import "compass/css3";

$instructions: #C5222D;
$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

html, body, .leaflet-container, .container {
  height: 100%;
}

body{
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 2em;
}

.container {
  margin: 0;
  width: 100%;
}


// Home page
.add-marker-wrapper {
  position: absolute;
  z-index: 99;

  a {
    background: url(../images/Add_btn@2x.png) no-repeat;
    text-indent: -99999px;
    display: block;
    height: 117px;
    width: 128px;
  }
}

div.leaflet-div-icon {
  border: 0;
  background: url(../images/marker@2x.png) no-repeat;
  display: block;
  height: 59px;
  width: 71px;

  .marker-icon {
    background: red;
    color: #fff;
    width:7px;
    height: 16px;
    padding: 6px 10px;
    position: absolute;
    top: -2px;
    right: -2px;
    @include border-radius(18px, 18px);
  }

}

// Add marker page
.map-wrapper {
  height: 100%;
}

.instructions-wrapper {
  position: absolute;
  top: 0;
  z-index: 99;
  width: 100%;
  background: rgba(0,0,0,0.7);
  color: $instructions;
  font-weight: bold;

  div {
    padding: 20px;
  }

  .close {
    float: right;
    display: block;
    background: url(../images/close@2x.png);
    height: 64px;
    width: 64px;
    text-indent: -999999px;
  }
}

.leaflet-control-container .leaflet-top {
  top: 140px;
}

.location-wrapper {
  position: absolute;
  bottom: 0;
  z-index: 99;
  background: rgba(0,0,0,0.7);
  width: 100%;
  color: white;
  height: 110px;

  .confirm {
    position: absolute;
    bottom: 17px;
    right: 17px;
    display: block;
    background: url(../images/confirm@2x.png);
    height: 70px;
    width: 70px;
    text-indent: -999999px;
  }

  .venue {
    padding: 40px 80px 0 106px;
    overflow: hidden;
    height: 1em;
  }

  .edit-place {
    position: absolute;
    bottom: 17px;
    left: 17px;
    display: block;
    background: url(../images/edit-place@2x.png);
    height: 70px;
    width: 70px;
    text-indent: -999999px;
  }
}

.completed-wrapper {
  padding: 20px;
}

// Play mode page.
.actions-wrapper,
.playlist-info {
  position: absolute;
  z-index: 99;
  padding: 20px 10px;
  width: 100%;
  background: black;
  color: white;
}

.actions-wrapper {
  top: 0;
}

.playlist-info {
  bottom: 0;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}
