@import "compass/css3";

$instructions: #C5222D;
$recorder: #218AFC;
$time-left: #429620;
$spinner-cover: #eee;
$disabled: #9B9B9B;
$warning: #C5222D;
$command-text: #1C299A;
$gray-text: #9B9B9B;
$dark-pane: rgba(0,0,0,0.7);
$success: #429620;

$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

$sans: "Helvetica Neue", "Helvetica", "Arial", sans-serif;

html, body, .leaflet-container, .container {
  height: 100%;
}

body{
  margin: 0;
  font-family: $sans;
  font-size: 16px;
  background: #333;
  overflow: hidden;

  // @media
  // (-webkit-min-device-pixel-ratio: 2),
  // (max-resolution: 192dpi) {
  //   /* Retina-specific stuff here */
  //   font-size: 2em;
  // }
}

@media handheld {
  .leaflet-control-zoom {
    display: none;
  }
}

.container {
  margin: 0;
  width: 100%;
}

// Home page
.add-marker-wrapper {
  position: absolute;
  z-index: 99;
  @media screen and (max-width: 600px) {top: 20px;}

  a {
    background: url(../images/add-btn.png) no-repeat 5px 10px;
    background-size: 46px 51px;
    text-indent: -99999px;
    display: block;
    height: 64px;
    width: 64px;
  }
}

.locate-me {

  div {
    cursor: pointer;
    display: block;
    position: absolute;
    z-index: 99;
    height: 35px;
    width: 35px;
    bottom: 10px;
    right: 10px;
    background: url(../images/locate-me@2x.png) no-repeat;
    background-size: 35px;
    color: rgba(0,0,0,0);
  }
}

.cycle {
  position: absolute;
  z-index: 99;
  height: 35px;
  width: 35px;
  bottom: 10px;
  left: 10px;
  background: url(../images/cycle@2x.png) no-repeat;
  background-size: 35px;

  a {
    display: block;
    height: 35px;
    background: url(../images/cycle-play-pause@2x.png) no-repeat center left;
    background-size: 58px 35px;
    color: rgba(0,0,0,0);

    &.pause-cycle {
      background-position: center right;
    }

    &.hide {
      display: none;
    }
  }
}

div.angular-leaflet-map,
div.leaflet-container {
    background: #000;
}

div.leaflet-div-icon {
  border: 0;
  background: url(../images/marker@2x.png) no-repeat;
  background-size: contain;
  display: block;
  height: 30px;
  width: 35px;

  .marker-icon {
    background: red;
    font-size: 0.6em;
    text-align: center;
    color: #fff;
    width: 12px;
    height: 12px;
    position: absolute;
    top: -2px;
    right: -2px;
    @include border-radius(18px, 18px);
  }
}

.add {
  div.leaflet-div-icon {
    background: url(../images/adding@2x.png) no-repeat;
    background-position: 0 8px;
    background-size: contain;
    width: 46px;
    height: 51px;

    .icon-shadow {
      background: url(../images/adding@2x.png) no-repeat center bottom;
      display: block;
      width: 30px;
      height: 12px;
      margin: 38px auto 0;
      background-size: 100%;
    }
  }

  &.mapmoving div.leaflet-div-icon {
    background-position: 0 0;

    .icon-shadow {
      background: none;
    }
  }
}

// Add marker page
.map-wrapper {
  height: 100%;
}

.instructions-wrapper {
  position: absolute;
  top: 0;
  z-index: 99;
  width: 100%;
  background: $dark-pane;
  color: $instructions;
  font-weight: bold;
  @media screen and (max-width: 600px) {padding-top: 20px;}

  div {
    padding: 3%;
  }
}

.close {
  position: absolute;
  right: 0;
  @media screen and (max-width: 600px) {top: 15px;}
  display: block;
  background: url(../images/close@2x.png) center center no-repeat;
  background-size: contain;
  height: 32px;
  width: 32px;
  text-indent: -999999px;
  z-index: 100;
}

.leaflet-control-container .leaflet-top {
  display: none;
}

.bottom-bar {
  position: absolute;
  bottom: 0;
  z-index: 99;
  background: rgba(0,0,0,0.7);
  width: 100%;
  color: white;
  height: 55px;

  .action {
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: block;
    height: 35px;
    width: 35px;
    background-size: contain;
    text-indent: -999999px;
  }

  .confirm {
    background: url(../images/confirm@2x.png);
    background-size: contain; //retina
  }

  .venue {
    padding: 20px 40px 0 53px;
    overflow: hidden;
    height: 1.2em;
    overflow: hidden;
  }

  .edit-place {
    position: absolute;
    bottom: 8px;
    left: 8px;
    display: block;
    background: url(../images/edit-place@2x.png);
    background-size: contain; //retina
    height: 35px;
    width: 35px;
    text-indent: -999999px;
  }
}

/*  Form  */

.form-wrapper {
  height: 100%;
  background-image: -o-radial-gradient(50% 89%, rgba(255,255,255,0.00) 21%, rgba(0,0,0,0.07) 89%);
  background-image: -moz-radial-gradient(50% 89%, rgba(255,255,255,0.00) 21%, rgba(0,0,0,0.07) 89%);
  background-image: -webkit-radial-gradient(50% 89%, rgba(255,255,255,0.00) 21%, rgba(0,0,0,0.07) 89%);
  background-image: -ms-radial-gradient(50% 89%, rgba(255,255,255,0.00) 21%, rgba(0,0,0,0.07) 89%);
  background-image: radial-gradient(50% 89%, rgba(255,255,255,0.00) 21%, rgba(0,0,0,0.07) 89%);
}

.command-form {
  font-size: 1.5em;
  line-height: 45px;
  color: $command-text;
  font-family: $sans;
  position: absolute;
  width: 90%;
  height: 100%;
  padding: 0.55em 5%;
  border: 0;
  background: #FFFDF7 url(../images/grid-paper-lines.png);
 
  @media
  
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 2dppx) 
  
  //screen and (max-width: 600px) 
  {
    padding-top: 20px;
    background: #FFFDF7 url(../images/grid-paper-lines@2x.png) 0px 7px;
    background-size: 8px,45px;
  }
}

.info-wrapper {
  position: absolute;
  bottom: 0;
  padding: 0 5%;
  width: 90%;
  z-index: 10;
  color: $gray-text;
  height: 2.5em;
  line-height: 2em;

  .venue {
    left: 0.5em;
    bottom: 0.5em;
    padding: 0 4em 0 2em;
    background: url(../images/placemark@2x.png) no-repeat;
    background-size: contain; //retina
    position: absolute;
    height: 2em;
    overflow: hidden;
  }

  .char-count {
    right: 2.5em;
    bottom: 0.5em;
    position: absolute;
  }

  &.warning .char-count {
    color: $warning;
  }

  .confirm {
    right: 0.5em;
    bottom: 0.5em;
    position: absolute;
    background: url(../images/confirm@2x.png) no-repeat;
    background-size: contain; //retina
    width: 2em;
    display: block;
    color: rgba(0,0,0,0);
  }

  &.disabled .confirm {
    background-image: url(../images/confirm-grayed@2x.png);
    background-size: contain; //retina
  }
}

.record-wrapper {

  .info-wrapper {
    bottom: 216px;
  }

  .recorder {
    width: 100%;
    height: 216px;
    position: absolute;
    z-index: 10;
    bottom: 0;
    background: #B7B7B7;
    background-image: -o-radial-gradient(50% 139%, rgba(255,255,255,0.81) 0%, rgba(255,255,255,0.00) 100%);
    background-image: -moz-radial-gradient(50% 139%, rgba(255,255,255,0.81) 0%, rgba(255,255,255,0.00) 100%);
    background-image: -webkit-radial-gradient(50% 139%, rgba(255,255,255,0.81) 0%, rgba(255,255,255,0.00) 100%);
    background-image: -ms-radial-gradient(50% 139%, rgba(255,255,255,0.81) 0%, rgba(255,255,255,0.00) 100%);
    background-image: radial-gradient(50% 139%, rgba(255,255,255,0.81) 0%, rgba(255,255,255,0.00) 100%);
    -moz-box-shadow:    0px -4px 0px 0px rgba(0,0,0,0.11);
    -webkit-box-shadow: 0px -4px 0px 0px rgba(0,0,0,0.11);
    box-shadow:         0px -4px 0px 0px rgba(0,0,0,0.11);
  }

  .rec {
      background: url(../images/record-btn@2x.png) center center no-repeat;
      background-size: 150px; //retina
      display: block;
      height: 100%;

    .remaining-time {
      color: $recorder;
      position: absolute;
      width: 100%;
      text-align: center;
      top: 0.75em;

      &.disabled {
        color: $disabled;
      }
    }

    .warning {

      .remaining-time {
        color: $warning;
      }

      .spinner  {
        background: $warning;
      }

      .spinner-mask  {
        border-top-color: $warning;
      }
    }

    button {
      border: 0;
      text-indent: -9999999px;
      background: transparent center center no-repeat;
      height: 150px;
      width: 150px;
      margin: -75px -75px;
      padding: 0;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
    }

    div {

      button.start-rec {
        background-image: url(../images/start-rec@2x.png);
        background-size: 50%; //retina
      }

      button.stop-rec {
        background-image: url(../images/stop-rec@2x.png);
        background-size: 50%; //retina
      }

      &.after-rec {
        min-height: 216px;
        position: relative;

        button {
          position: absolute;
          height: 45px;
          width: 45px;
          top: 88px;
          margin: 0;

          &.discard-rec {
            background-image: url(../images/discard-rec@2x.png);
            background-size: contain; //retina
            left: 15%;
            margin-left: -22px;
          }

          &.play-rec {
            background-image: url(../images/play-rec@2x.png);
            background-size: 50%; //retina
            height: 100px;
            width: 100px;
            top: 50%;
            left: 50%;
            margin-left: -50px;
            margin-top: -50px;
          }

          &.confirm-rec {
            background-image: url(../images/confirm-rec@2x.png);
            background-size: contain; //retina
            right: 15%;
            margin-right: -22px;
            left: inherit;

            &.disabled {
              background-image: url(../images/confirm-rec-grayed@2x.png);
              background-size: contain; //retina
            }
          }
        }
      }
    }
  }
}

.login-wrapper {
  padding: 40px 20px;
  background: #F8F8F8;

  .login-btn {
    margin-bottom: 20px;

    a {
      padding: 15px 5px 0 67px;
      background-position: center left;
      background-size: 50px;
      background-repeat: no-repeat;
      display: block;
      color: #fff;
      text-decoration: none;
      height: 35px;
      border-radius: 4px;
    }

    &.login-fb a {
      background-color: #415E9B;
      background-image: url(../images/login-fb@2x.png);
    }

    &.login-tw a {
      background-color: #00ACED;
      background-image: url(../images/login-tw@2x.png);
    }

    &.login-anon a {
      background-color: #575E6A;
      padding-left: 5px;
      text-align: center;
    }
  }

  .login-or {
    border-top: 2px solid #CACACA;
    color: #CACACA;
    margin-bottom: 10px;

    span{
      display: block;
      width: 16px;
      background: #f8f8f8;
      padding: 2px 10px;
      margin: -13px auto 0;
    }
  }
}

.completed-wrapper {
  height: 100%;
}

.modal {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.7);
  margin: 10%;
  height: 80%;
  width: 80%;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 100;

  .close {
    top: 0;
  }

  .modal-message {
    padding: 20px 5% 0;
    text-align: center;
    color: $gray-text;
    line-height: 1.4em;

    strong {
      color: $success;
    }
  }

  &.thanks .modal-message {
    margin-top: 70px;
    background: url(../images/confirmation@2x.png) center 40px no-repeat;
    background-size: 45px; //retina
  }

  a.btn-install {
    width: 195px;
    height: 67px;
    display: block;
    background: url(../images/btn-app-store@2x.png);
    background-size: 195px 67px;
    margin: 20px auto 0;
    text-indent: -9999999em;
    overflow: hidden;

    &.btn-google-play {
      background: url(../images/btn-google-play@2x.png);
      background-size: 195px 67px;
    }
  }
  
}

/* Play mode */

.dark-overlay{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  top: 0;
}

.placemark-big {
  background-image: url(../images/placemark-big@2x.png);
  position: absolute;
  width: 221px;
  height: 255px;
  top: 50%;
  left: 50%;
  margin: -128px 0 0 -110px;
  background-size: contain;
}

.playlist-info {
  position: absolute;
  bottom: 0;
  font-size: 1em;
  line-height: 1em;
  z-index: 10000;

  .user-wrapper {
    //height: 80px;
  }

  .profie-pic {
    height: 2em;
    width: 2em;
    border-radius: 2em;
    float: left;
    margin: 0.6em;
    border: 2px solid #9B9B9B;
    background: url(../images/user-profile@2x.png) center center;
    background-size: 45px 45px;
    overflow: hidden;

    img {
      width: 2em;
    }
  }

  .venue-name {
    font-weight: 700;
    margin-top: 0.7em;
    height: 1em;
    margin-right: 2.5em;
    overflow: hidden;
  }

  .user-name {
    //margin: 0.5em;
    color: $gray-text;
    height: 1em;
    margin-right: 2.5em;
    overflow: hidden;
  }

  .expand {
    background-image: url(../images/expand@2x.png);
  }
}

.edit-mode {
  width:100%;
  opacity: 0.9;
  z-index: 1000;
  background: rgba(0,0,0,0.7);
  color: white;
  position:fixed !important;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;

  .action {
    display: block;
    height: 35px;
    width: 35px;
    background-size: contain;
    text-indent: -999999px;
    float: right;
    margin: -32px 12px 0 0;
  }
}

.recording-content {
  height: 100%;
  padding: 1em 5% 5em;
  position: relative;
  border-top: $gray-text 2px solid;
  margin-top: 0.75em;

  p {
    font-size: 1.5em;
    line-height: 1.3em;
    font-weight: 700;
    margin: 0.5em 0 1em;
    text-align: center;
  }

  .edit-text {
    font-size: 0.75em;
    color: $gray-text;
  }

  .play-rec {
    margin: 0.5em auto 1.5em ;
    height: 4em;
    position: relative;;

    a{
      height: 2em;
      width: 2em;
      display: block;
      text-indent: -999999px;
      border-radius: 4em;
      border: 2px solid #218afc;
      position: absolute;
      margin-top: 1em;
      padding: 0.5em;
    }

    .rwd {
      background: url(../images/rwd@2x.png) center center no-repeat;
      background-size: 50%; //retina
      left: 15%;
      margin-left: -1.25em;
    }

    .play,
    .pause {
      height: 4em;
      width: 4em;
      background: url(../images/play-rec@2x.png) center center no-repeat;
      background-size: 50%; //retina
      left: 50%;
      margin-left: -2.56em;
      margin-top: 0;
    }

    .pause {
      background-image: url(../images/pause-rec@2x.png);
    }

    .fwd {
      background: url(../images/fwd@2x.png) center center no-repeat;
      background-size: 50%; //retina
      right: 15%;
      margin-right: -1.25em;
    }
  }

  .track-info {
    text-align: center;
    color: $recorder;
    font-size: 0.8em;
    padding-top: 1.5em;
  }

  .flag {
    text-decoration: none;
    position: absolute;
    right: 0.25em;
    bottom: 0.25em;
    padding-right: 2em;
    background-size: 50%; //retina
    background: url(../images/flag@2x.png) no-repeat right top;
    background-size: contain; //retina
    display: block;
    height: 2em;
    line-height: 2em;
    color: $warning;
  }
}

.share-btns {
  margin: 0 auto;
  width: 80%;
  padding: 0 10%;

  li {
    list-style: none;
    margin: 0;
    float: left;
    width: 25%;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }

    a {
      display: inline-block;
      width: 36px;
      height: 36px;
      text-indent: -999999px;

      &.share-tw {
        background: url(../images/share-tw@2x.png);
        background-size: contain; //retina
      }

      &.share-fb {
        background: url(../images/share-fb@2x.png);
        background-size: contain; //retina
      }

      &.share-email {
        background: url(../images/share-email@2x.png);
        background-size: contain; //retina
      }

      &.share-link {
        background: url(../images/share-link@2x.png);
        background-size: contain; //retina
      }
    }
  }
}

#site-meta {
  position: absolute;
  width: 100%;
  bottom: 10%;
  left: 50%;
  max-height: 80%;
  width: 600px;
  margin-left: -300px;
  background: rgba(0,0,0,0.5);
  color: #fff;
  z-index: 10;
  padding-bottom: 1em;
  overflow: hidden;

  @media screen and (max-width: 600px) {
    width: 100%;
    margin: 0;
    left: 0;
  }

  @media screen and (max-width: 700px) {
      display: none;
  }

  header {
    margin: 1em;
  }

  h1 {
    color: red;
    margin: 0;
    //margin-left: 1.3em;
  }

  p.subheading {
    font-family: Georgia, serif;
    font-style: italic;
    color: #fff;
    font-size: 1.2em;
    line-height: 1.5em;
    margin: 0.5em 0;
  }

  p.installation {
    display: none;
  }

  a {
    text-decoration: none;
    color: red;
  }

  .close {
    position: absolute;
  }

  .work-desc {

    blockquote {
      font-family: Georgia, serif;
      font-style: italic;
      color: $gray-text;
    }

    display: none;
    color: lighten($gray-text, 20%);
    max-width: 600px;
    margin: 1em 1em 4em;
    font-size: 1.2em;
    line-height: 1.5em;
  }

  &.showDetails {
    overflow: scroll;

    .work-desc {
      display: block;
    }
  }
}

#site-meta.play-marker-meta {
  display: none;
}

.hide {
  display: none;
}

$metabar: 192px;

/* Unique settings for the 1090x1920px display */

@media screen
and (max-width:  1080px)
and (min-width:  1080px)
and (max-height: 1920px)
and (min-height: 1920px)
{
  body{
    margin-bottom: $metabar;
    overflow: hidden;
  }
  .container {
    margin-bottom: 10%;
    height: 90%;
  }

  #site-meta,
  #site-meta.play-marker-meta {
    display: block;
    height: $metabar;
    display: fixed;
    bottom: 0;
    background: red;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 9999999;

    .close {
      display: none;
    }

    header {
      
      margin: 0;

      h1 {
        font-weight: 700;
        font-size: 48px;
        color: #FFFFFF;
        line-height: 42px;
        width: 200px;
        float: left;
        padding: 50px 40px;
        margin: 0;
      }

      p.subheading {
        display: none;
      }

      p.installation {
        display: block;
        float: left;
        width: 760px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans;
        font-family: Helvetica;
        font-size: 24px;
        line-height: 28px;
        font-style: normal;
        padding: 80px 0 60px 40px;
        margin: 0;
        background: url(../images/qr.png) 95% center no-repeat ;

        a {
          text-decoration: none;
          color: #fff;
          font-weight: 700;
        }
      }
    }


  }

  .cycle,
  .locate-me div {
    bottom: $metabar+10px;
  }

  .bottom-bar {
    bottom: $metabar;
  }

}

/* Spinner Animation */

.spinner {
  -webkit-mask-box-image: -webkit-radial-gradient(center, ellipse cover, black 68%, rgba(0, 0, 0, 0) 69.5%);
  background: $time-left;
  width: 136px;
  height: 136px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -68px;
}

.spinner-cover{
  width: 124px;
  height: 124px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -62px;
  background: url(../images/spinner-cover@2x.png) center center no-repeat;
  background-size: 150px;
  border-radius: 150px;
}

.spinner-inner {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border-width: 68px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-top-color: $spinner-cover;
  -webkit-transform: rotate(-45deg);
  -webkit-animation: inner 6s linear;
}

.spinner-mask {
  position: absolute;
  top: 1px;
  left: 0px;
  background: transparent;
  border-width: 68px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-top-color: $time-left;
  -webkit-transform: rotate(-45deg);
  -webkit-animation: mask 6s linear;
}
.spinner-mask:after, .spinner-mask-two {
  display: block;
  content: '';
  opacity: 0;
  position: absolute;
  top: 1px;
  left: 0px;
  background: transparent;
  border-width: 68px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-top-color: $spinner-cover;
  -webkit-transform: rotate(45deg);
  -webkit-animation: mask-two 6s linear;
}

@-webkit-keyframes inner {
  0% {
    -webkit-transform: rotate(-45deg);
  }
  25% {border-left-color:transparent;}
  26% {
    border-left-color:  $spinner-cover;
  }
  50% {border-bottom-color:transparent;}
  51% {
    border-bottom-color:  $spinner-cover;
  }
  75% {border-right-color:transparent;}
  76% {
    border-right-color:  $spinner-cover;
  }
  100% {
    -webkit-transform: rotate(315deg);
    border-left-color:  $spinner-cover;
    border-bottom-color:  $spinner-cover;
    border-right-color:  $spinner-cover;
  }
}

 @-webkit-keyframes mask {
  0% {
    -webkit-transform: rotate(-45deg);
  }
  75% {
    -webkit-transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@-webkit-keyframes mask-two {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  26% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes whee {
  from {
    -webkit-transform: rotate(0deg);
    -webkit-filter: sepia() hue-rotate(0deg) contrast(95%);
  }
  to {
    -webkit-transform: rotate(360deg);
    -webkit-filter: sepia() hue-rotate(360deg) contrast(95%);
  }
}