<div ng-show="!isPhoneGap" class="play-rec">
  <audio data-player-control="playerControl" playlist="playList" audio-player autoplay="true"></audio>
  <a href class="rwd" ng-click="previous()">previous</a>
  <a href class="play" ng-click="playPauseHtml5()">re-play</a>
  <a href class="fwd" ng-click="next()">next</a>
</div>

<div ng-show="isPhoneGap" class="play-rec" list="{{ list }}">
  <a href class="rwd" ng-click="previousPhoneGap()">previous</a>
  <a href class="play" ng-click="playPhoneGap(playList[currentTrack].src)">re-play</a>
  <a href class="fwd" ng-click="nextPhoneGap()">next</a>
</div>

<div class="track-info">
  Track {{ currentTrack + 1 }} / {{ playList.length }}
</div>
