<div>
  <a href="{{ backendUrl }}/auth/github">Github</a>
</div>

<div>
  <a href="{{ backendUrl }}/auth/facebook">Facebook</a>
</div>

<div>
  <a href="{{ backendUrl }}/auth/twitter">Twitter</a>
</div>

<form action="{{ backendUrl }}/users/session">

  <div class="control-group">
    <label for="email" class="control-label">Email</label>

    <div class="controls">
      <input id="email" type="text" name="email" placeholder="Email"></div>
    </div>
  <div class="control-group"><label for="password" class="control-label">Password</label>

    <div class="controls"><input id="password" type="password" name="password" placeholder="Password"></div>
  </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Sign in</button>
    &nbsp;
    or&nbsp;<a href="/signup" class="show-signup">Sign up</a></div>
</form>


{{ user }}