
<div class="map-wrapper" ng-show="state == 'mark'">
  <div class="instructions-wrapper">
    <div ng-show="center.zoom >= 16">
      Select place.
    </div>

    <div ng-show="center.zoom < 16">
      You need to zoom.
    </div>

    <a href="/#">X</a>
  </div>

  <leaflet center="center" markers="markers" defaults="defaults"></leaflet>

  <div class="location-wrapper" ng-show="center.zoom >= 16">
    <div class="venue">
      {{markers.marker.venue.name | venueName}}
    </div>

    <a class="confirm" ng-show="markers.marker.venue.name.length" ng-click="setState('form')">V</a>
  </div>
</div>

<div class="form-wrapper" ng-show="state == 'form'">
  <a class="cancel" ng-click="setState('mark')">X</a>

  <form>
    <div>
      <textarea rows="6" name="text" ng-model="text" placeholder="Write your command" required></textarea><br>
    </div>

    <div class="info-wrapper">
      <div class="venue">
        {{markers.marker.venue.name | venueName}}
      </div>

      <div class="char-count" ng-class="{error: 80 - text.length < 0}">
        {{ 80 - text.length}}
      </div>

      <div>
        <a ng-hide="80 - text.length < 0 || text.length == 0" ng-click="setState('record')">V</a>
        <div ng-show="80 - text.length < 0">You must enter text below 80 chars</div>
      </div>
    </div>
  </form>
</div>

<div class="record-wrapper" ng-show="['record', 'recording', 'recorded', 'playRecord', 'afterPlay'].indexOf(state) != -1">

  <a title="Back to writing the text" class="cancel" ng-click="setState('form')">X</a>
  <div>
    Text: {{ text }}
  </div>

  <div>
    Venue: {{markers.marker.venue.name | venueName}}
  </div>

  <div ng-show="markers.marker.venue.name">
    <sound-recorder file="file" on-recorded="onRecorded()"></sound-recorder>
  </div>

</div>

<div class="map-wrapper" ng-show="state == 'credentials'">
    <div>
      <a href="{{ backendUrl }}/auth/facebook">Facebook</a>
    </div>

    <div>
      <a href="{{ backendUrl }}/auth/twitter">Twitter</a>
    </div>
    or
    <div>
      <a href="{{ backendUrl }}/">Post anonymously</a>
    </div>

</div>