<!-- MARKER -->
<div class="map-wrapper add" ng-show="state == 'mark'" ng-class="{mapmoving: mapIsMoving}">
  <div class="instructions-wrapper">

    <a href="#/" class="close">X</a>

    <div ng-show="center.zoom >= 16">
      Move the map under the marker to pin your command elsewhere
    </div>

    <div ng-show="center.zoom < 16">
      You need to zoom.
    </div>
  </div>

  <leaflet center="center" marker="marker" markers="markers" defaults="defaults"></leaflet>

  <div class="locate-me">
    <div ng-click="getCurrentPosition()">Locate me</div>
  </div>

  <div class="location-wrapper bottom-bar" ng-show="center.zoom >= 16 && !mapIsMoving">

    <a class="edit-place">Edit Place</a>

    <div class="venue">
      {{markers.marker.venue.name | venueName}}
    </div>

    <a class="action confirm" ng-show="markers.marker.venue.name.length" ng-click="setState('form')">V</a>
  </div>
</div>
<!-- .../END MARKER -->

<!-- FORM -->
<div class="form-wrapper" ng-show="state == 'form'">
  <a class="close" ng-click="setState('mark')">X</a>

  <form>
    <div class="textarea-wrapper">
      <textarea class="command-form" rows="6" name="text" ng-model="text" placeholder="Write a command. Make it specific for this location." required></textarea>
    </div>

    <div class="info-wrapper" ng-class="{disabled: 80 - text.length < 0 , warning: 70 - text.length < 0}">
      <div class="venue">
        {{markers.marker.venue.name | venueName}}
      </div>

      <div class="char-count">
        {{ 80 - text.length}}
      </div>

      <div>
        <a class="action confirm" ng-click="setState('record')">V</a>
      </div>
    </div>
  </form>
</div>
<!-- .../END FORM -->

<!-- RECORDING -->
<div class="record-wrapper" ng-show="['record', 'recording', 'recorded', 'playRecord', 'afterPlay'].indexOf(state) != -1">

  <a title="Back to writing the text" class="close" ng-click="setState('form')">X</a>
  <div class="command-form" ng-click="setState('form')">
    {{ text }}
  </div>

  <div class="info-wrapper">
    <div class="venue">
      {{markers.marker.venue.name | venueName}}
    </div>
  </div>

  <div class="recorder" ng-show="markers.marker.venue.name">
    <sound-recorder class="rec" file="file" on-recorded="setState('credentials')"></sound-recorder>
  </div>

</div>
<!-- .../END RECORDING -->

<!-- CREDENTIALS -->
<div class="login-wrapper" ng-show="state == 'credentials'">
  <a title="Back to recording" class="close" ng-click="setState('record')">X</a>
  <div class="login-btn login-fb">
    <a ng-click="oauth('facebook')">Login through Facebook</a>
  </div>
  <div class="login-or"><span>or</span></div>
  <div class="login-btn login-anon">
    <a ng-click="onRecorded()">Post anonymously</a>
  </div>
</div>
<!-- .../END CREDENTIALS -->


<!-- COMPLETE -->
<div  class="completed-wrapper" ng-show="state == 'completed'">
  <leaflet center="center" markers="markers" defaults="defaults" ></leaflet>
  <a href="#/" ng-click="setState('mark')" class="dark-overlay"></a>

  <div class="modal thanks">
    <div>
      <a href="#/" ng-click="setState('mark')" class="close">X Close</a>
    </div>

    <div class="modal-message">
      <p>
        <strong>Thanks!</strong>
      </p>
      <p>
        Your command has been recorded.
      </p>
      <p>
        now, go tell your friends!
      </p>
    </div>
    <share-buttons id="venue.id" text="text" web-url="webUrl"></share-buttons>
  </div>

</div>
<!-- .../END COMPLETE -->
