<div class="actions-wrapper">
  <div class="actions-icons">
    <div>
      <a ng-href="#/add-marker">Add marker</a>
    </div>
    <div>
      <a ng-href="#/">Close</a>
    </div>
  </div>
</div>

<div class="map-wrapper">
  <leaflet center="center" markers="markers" defaults="defaults" ></leaflet>
  <!-- Placeholder audio marker to float above the map -->
  <div class="big-icon"></div>
</div>

<div class="playlist-info">
  <audio data-player-control="player" playlist="playList" audio-player  autoplay="true" controls></audio>
  <div class="photo">
    <img ng-show="selectedMarker.playList[player.currentTrack - 1].user.photo" ng-src="{{ selectedMarker.playList[player.currentTrack - 1].user.photo }}" />
  </div>
  <div class="user-wrapper">
    <div class="venue-name">
      @{{ selectedMarker.name }}
    </div>
    <div>
      V
    </div>
  </div>

</div>