<div ng-show="state == 'beforeRecord'">
  <div class="remaining-time disabled">00:06</div>
  <button ng-click="startRecord()" class="start-rec">Start record</button>
</div>

<div ng-show="state == 'recording'" ng-show="counter > 0" ng-class="{warning: counter <= 2}">
  <div class="remaining-time">00:0{{ counter }}</div>

	<div class="spinner">
	  <div class="spinner-inner"></div>
	  <div class="spinner-mask"></div>
	  <div class="spinner-mask-two"></div>
	</div>
	<div class="spinner-cover"></div>
  
  <button ng-click="stopRecord()" class="stop-rec">Stop record</button>
</div>

<div ng-show="['afterRecord', 'playRecord', 'afterPlay'].indexOf(state) != -1" class="after-rec">
  <div class="remaining-time">00:0{{ counter }}</div>
  <button ng-click="state = 'beforeRecord'" class="discard-rec">Discard</button>

  <button ng-click="playRecord()" class="play-rec">Play</button>

  <button ng-click="onRecorded()" class="confirm-rec">Confirm</button>
</div>